@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,300;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: aliceblue;
    padding: 10px;
}
.navbar nav{
    display: flex;
    justify-content:space-around;
}

.navlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.navitems ul{
    display: flex;
    
}
.navitems ul li{
    list-style: none;
    margin: 25px;
}
.navitems ul li a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
}
.navsearch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navsearch img {
    width: 15px;
    height: 15px;
    padding: 10px;
    cursor: pointer;
}


.main_section{ 
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:30px;
    gap: 2vw;
    /* margin-bottom: 30px; */
    /* padding-top: 86px;
    padding-bottom: 140px; */

    padding-top: 15vh;
    padding-bottom: 15vh;
}

.left_content{ 
    width: fit-content;
 
}
.right_content{
  width:38%;
  margin-right: -10vw;
}
.right_content img{
  width: 100%;
}
.left_content h1{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
    font-size:45px;
}
.left_content p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
    line-height: 20px;
}

.main_inputs{
    display:flex;
    flex-direction: column;
    padding-right: 20%;
}

.main_inputs input{
    height: 40px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.main_inputs button{
    height: 40px;
    background:blue;
    color: white;
    border-radius: 4px;  
}

.center_section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-top: 1px solid rgb(240, 235, 235);
    padding:2% 0;
   
   
}
.center_section img{
   margin: 3%;
   
}

.header{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding:2% 0;
}

.card_details{
  margin: 1% 0;
}
.upper_card{
    display: flex;
    padding: 0 20%;
    margin-bottom: 4%;
    
}
.lower_card{
    display: flex;
    padding: 0 20%;
}
.card_items1{
    margin: 20px;
}
.card_items1 img{
    width:50px;
    height: 50px;
}
.card_items1 h4{
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 5%;
}
.card_items1 p{
    font-size:19px;
    padding-top: 4%;
   
}

.header_element{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5%;
   
}
.details_tech{
    display: flex;
    justify-content: center;
    /* padding: 4%; */
    /* gap: 2%; */
    margin-top: 4%;
}

.inner_tech{
    background-color: rgb(236, 241, 245);
    width: 25%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}
.inner_tech img{
    width: 30px;
    height: 30px;
    object-fit: contain;
   
}
.left_tech{
    width: 30%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    gap: 5%;
    /* margin-right: -2%; */
  

    
}
.left_tech h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px ;
}
.left_tech p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}


.right_tech{
    width:42%

}
.right_tech img{
    width: 100%;
}





